* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.white-background {
    background-color:white;
    text-align: center;
    max-width: 330px;
    padding: 15px 15px 30px;
    border-radius: 5%;
}

img {
    max-width: 100%;
    border-radius: 5%;
}

h1 {
    font-size: 1.5rem ;
    font-weight: 700;
}

p {
    max-width: 280px;
    margin: auto ;
    margin-bottom: 15px;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    font-size: 15px;
}

footer {
    margin-top: 20px ;
}